__pycache__
    rm -rf .pytest_cache
    rm -rf .mypy_cache
    rm -rf .coverage
    rm -rf .tox
    rm -rf .eggs
    rm -rf .cache
    rm -rf .eggs
    rm -

# mock files
mock_list_project.py
mock_page_main.py
.env